:root {
  --main: rgb(61, 193, 171);
}

body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.popup {
  position: absolute;
  width: 250px;
  height: 150px;
  background: white;
  border: 2px solid black;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.popup-header {
  background: #0078d7;
  color: white;
  padding: 6px;
  font-weight: bold;
  font-size: 14px;
}

.popup-content {
  padding: 10px;
  font-size: 14px;
}

.popup button {
  background: #d9534f;
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
}

.popup button:hover {
  background: #c9302c;
}

#desktop {
  flex-grow: 1;
  background: linear-gradient(to bottom right, #cce0ff, #ffffff);
}

#nav-bar {
  height: 3rem;
  background-color: var(--main);
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    margin: 0 1rem;
    height: 80%;
    opacity: 0.8;
    aspect-ratio: 1/1;
  }
  .text {
    background-color: whitesmoke;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      color: grey;
      margin-left: 0.5rem;
      margin-right: 7rem;
    }
  }
}
